@font-face {
    font-family: Caveat;
    src: url(ttf/Caveat-Regular.ttf);
}

@font-face {
    font-family: Luckiest Guy;
    src: url(ttf/LuckiestGuy-Regular.ttf);
}

@font-face {
    font-family: Creepster;
    src: url(ttf/Creepster-Regular.ttf);
}

@font-face {
    font-family: "Press Start 2P";
    src: url(ttf/PressStart2P-Regular.ttf);
}

@font-face {
    font-family: Special Elite;
    src: url(ttf/SpecialElite-Regular.ttf);
}

@font-face {
    font-family: Merienda;
    src: url(ttf/Merienda-Regular.ttf);
}

@font-face {
    font-family: Rock Salt;
    src: url(ttf/RockSalt-Regular.ttf);
}

@font-face {
    font-family: Dokdo;
    src: url(ttf/Dokdo-Regular.ttf);
}

@font-face {
    font-family: Honk;
    src: url(ttf/Honk-Regular.ttf);
}

@font-face {
    font-family: Single Day;
    src: url(ttf/SingleDay-Regular.ttf);
}

