html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

.container {
	height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

#emoStart {
	width: 700px;
	font-size: 70px;
}

#emoEnd {
	width: 400px;
	font-size: 40px;
}

.jelly {
	animation: jelly 0.5s;
}

@keyframes jelly {
	0%,
	100% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}
