html, body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
}

.container {
	height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

#sleepStart {
	width: 700px;
	font-size: 40px;
}

#sleepEnd {
	width: 400px;
	font-size: 40px;
	opacity: 0;
}

.active, .past {
	opacity: 1.0 !important;
	animation: 0.5s ease !important;
}
#emoStart {
	width: 1300px;
	font-size: 70px;
}

#happiness {
	font-family: "Luckiest Guy";
	color: yellow;
}

#anger {
	font-family: "Creepster";
	color: red;
}

#emoEnd {
	width: 400px;
	font-size: 40px;
	opacity: 0;
}

#sleepStart {
	width: 800px;
	font-size: 90px;
}

#sleepStart2 {
	width: 700px;
	font-size: 70px;
	font-family: "Caveat";
}

#sleepStart3 {
	width: 700px;
	font-size: 70px;
	font-family: "Caveat";
}

#sleepWarning {
	width: 800px;
	font-size: 52px;
	font-family: "Press Start P2";
	color: red;
}

#sleepEnd {
	opacity: 0;
	width: 700px;
	font-size: 70px;
}

.jelly {
	animation: jelly 0.5s;
}

@keyframes jelly {
	0%,
	100% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(0.9, 1.1);
	}
	50% {
		transform: scale(1.1, 0.9);
	}
	75% {
		transform: scale(0.95, 1.05);
	}
}
